MedFinderEE/MedFinderEE-war/src/conf/xml-resources/web-service-references/reniec/wsdl/200.4.219.69_8080/servicios/reniec.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://servicio.cenares.minsa/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio.cenares.minsa/">

<xs:element name="dni" type="tns:dni"/>

<xs:element name="dniResponse" type="tns:dniResponse"/>

<xs:complexType name="dni">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dniResponse">
<xs:sequence>
<xs:element name="return" type="tns:reniecServicio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reniecServicio">
<xs:sequence>
<xs:element name="bitSexo" type="xs:boolean"/>
<xs:element name="datEmision" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="strDepartamento" type="xs:string" minOccurs="0"/>
<xs:element name="strDireccion" type="xs:string" minOccurs="0"/>
<xs:element name="strDistrito" type="xs:string" minOccurs="0"/>
<xs:element name="strDni" type="xs:string" minOccurs="0"/>
<xs:element name="strMaterno" type="xs:string" minOccurs="0"/>
<xs:element name="strNombres" type="xs:string" minOccurs="0"/>
<xs:element name="strPaterno" type="xs:string" minOccurs="0"/>
<xs:element name="strProvincia" type="xs:string" minOccurs="0"/>
<xs:element name="strUbigeo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>