MedFinderEE/MedFinderEE-war/src/conf/xml-resources/web-service-references/medico/wsdl/170.239.86.92/MedSevis/medico.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="medico">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://170.239.86.92:80/MedSevis/medico?xsd=1"/>
</xsd:schema>
</types>
<message name="consultaDoctor">
<part name="parameters" element="tns:consultaDoctor"/>
</message>
<message name="consultaDoctorResponse">
<part name="parameters" element="tns:consultaDoctorResponse"/>
</message>
<message name="consultaEspecialidad">
<part name="parameters" element="tns:consultaEspecialidad"/>
</message>
<message name="consultaEspecialidadResponse">
<part name="parameters" element="tns:consultaEspecialidadResponse"/>
</message>
<message name="consultaDetalle">
<part name="parameters" element="tns:consultaDetalle"/>
</message>
<message name="consultaDetalleResponse">
<part name="parameters" element="tns:consultaDetalleResponse"/>
</message>
<portType name="medico">
<operation name="consultaDoctor">
<input wsam:Action="http://servicio/medico/consultaDoctorRequest" message="tns:consultaDoctor"/>
<output wsam:Action="http://servicio/medico/consultaDoctorResponse" message="tns:consultaDoctorResponse"/>
</operation>
<operation name="consultaEspecialidad">
<input wsam:Action="http://servicio/medico/consultaEspecialidadRequest" message="tns:consultaEspecialidad"/>
<output wsam:Action="http://servicio/medico/consultaEspecialidadResponse" message="tns:consultaEspecialidadResponse"/>
</operation>
<operation name="consultaDetalle">
<input wsam:Action="http://servicio/medico/consultaDetalleRequest" message="tns:consultaDetalle"/>
<output wsam:Action="http://servicio/medico/consultaDetalleResponse" message="tns:consultaDetalleResponse"/>
</operation>
</portType>
<binding name="medicoPortBinding" type="tns:medico">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultaDoctor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaEspecialidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaDetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="medico">
<port name="medicoPort" binding="tns:medicoPortBinding">
<soap:address location="http://170.239.86.92:80/MedSevis/medico"/>
</port>
</service>
</definitions>