MedFinderEE/MedFinderEE-war/src/conf/xml-resources/web-service-references/medico/wsdl/localhost_80/MedServis/medico.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio/">

<xs:element name="consultaDetalle" type="tns:consultaDetalle"/>

<xs:element name="consultaDetalleResponse" type="tns:consultaDetalleResponse"/>

<xs:element name="consultaDoctor" type="tns:consultaDoctor"/>

<xs:element name="consultaDoctorResponse" type="tns:consultaDoctorResponse"/>

<xs:complexType name="consultaDetalle">
<xs:sequence>
<xs:element name="cmp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDetalleResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsDetalle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsDetalle">
<xs:sequence>
<xs:element name="cregional" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="especialidad" type="tns:wsEspecialidad" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="meddet" type="xs:string" minOccurs="0"/>
<xs:element name="ruta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsEspecialidad">
<xs:sequence>
<xs:element name="certificacion" type="xs:string" minOccurs="0"/>
<xs:element name="especialidad" type="xs:string" minOccurs="0"/>
<xs:element name="rne" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDoctor">
<xs:sequence>
<xs:element name="cmp" type="xs:string" minOccurs="0"/>
<xs:element name="paterno" type="xs:string" minOccurs="0"/>
<xs:element name="materno" type="xs:string" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDoctorResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsDoctor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsDoctor">
<xs:sequence>
<xs:element name="cmp" type="xs:string" minOccurs="0"/>
<xs:element name="materno" type="xs:string" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="paterno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>