MedFinderEE/MedFinderEE-war/src/conf/xml-resources/web-service-references/medico/wsdl/170.239.86.92_80/MedSevis/medico.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio/">

<xs:element name="consultaDetalle" type="tns:consultaDetalle"/>

<xs:element name="consultaDetalleResponse" type="tns:consultaDetalleResponse"/>

<xs:element name="consultaDoctor" type="tns:consultaDoctor"/>

<xs:element name="consultaDoctorResponse" type="tns:consultaDoctorResponse"/>

<xs:element name="consultaEspecialidad" type="tns:consultaEspecialidad"/>

<xs:element name="consultaEspecialidadResponse" type="tns:consultaEspecialidadResponse"/>

<xs:complexType name="consultaDoctor">
<xs:sequence>
<xs:element name="cmp" type="xs:string" minOccurs="0"/>
<xs:element name="paterno" type="xs:string" minOccurs="0"/>
<xs:element name="materno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDoctorResponse">
<xs:sequence>
<xs:element name="return" type="tns:doctor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doctor">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="cmp" type="xs:string" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDetalle">
<xs:sequence>
<xs:element name="cmp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDetalleResponse">
<xs:sequence>
<xs:element name="return" type="tns:detalle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalle">
<xs:sequence>
<xs:element name="claboral" type="xs:string" minOccurs="0"/>
<xs:element name="cregional" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="medcir" type="xs:string" minOccurs="0"/>
<xs:element name="pweb" type="xs:string" minOccurs="0"/>
<xs:element name="ruta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaEspecialidad">
<xs:sequence>
<xs:element name="cmp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaEspecialidadResponse">
<xs:sequence>
<xs:element name="return" type="tns:especialidad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="especialidad">
<xs:sequence>
<xs:element name="cer_Recer" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rne" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>